%head
  = yield :head
%body
  #page
    = yield
    %h1 Training project
    %h1 Listing actualitie
    %center
      %table
        %thead
          %tr
            %th Title
            %th Content
            %th{:colspan => "3"}
        %tbody
          - @articles.each do |article|
            %tr
              %td= article.title
              %td= article.body
              %td= link_to "Show", article
              %td= link_to "Edit", edit_article_path(article)
              %td= link_to "Destroy", article, method: :delete, data: { confirm: "Are you sure to delete it?" }
    %br/
    = link_to "New_article", new_article_path
    %form{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
      %label{:for => "query"} Search for:
      %input#query{:name => "query", :type => "text"}/
      %select#city{:name => "city"}
        %input{"data-disable-with" => "Search", :name => "commit", :type => "submit", :value => "Search"}/
