the article creat and accept the parameters
%h1= @article.title
%p= @article.body
%ul
  %li= link_to "Edit", edit_article_path(@article)
  %li= link_to "Destroy", article_path(@article),               |
      method: :delete,                                         |
      data: { confirm: "Are you sure to delete the article?" } |
%h2 Comments
- @article.comments.each do |comment|
= render @article.comments
%h2 Add a comment:
= render 'comments/form'
